<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div class="h3 fw-bold text-danger">Add Contact</div>
      <p class="fst-italic">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam vel delectus dignissimos recusandae odio rem
        ex alias id eius, facilis distinctio iusto mollitia quae suscipit aperiam fugit facere laborum. Facilis!
      </p>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form>
               <div class="mb-2">
                <input type="text" class="form-control" placeholder="Name">
               </div> 
               <div class="mb-2">
                <input type="text" class="form-control" placeholder="Photo Url">
               </div> 
               <div class="mb-2">
                <input type="email" class="form-control" placeholder="Email">
               </div> 
               <div class="mb-2">
                <input type="number" class="form-control" placeholder="Mobile Number">
               </div> 
               <div class="mb-2">
                <input type="text" class="form-control" placeholder="Company">
               </div> 
               <div class="mb-2">
                <input type="text" class="form-control" placeholder="Title">
               </div> 
               <div class="mb-2">
                <select class="form-control">
                    <option value="">Select a Group</option>
                </select>
               </div> 
               <div class="mb-2">
                <input type="submit" class="btn btn-danger" value="Create">
                <a routerLink="/" class="btn btn-dark ml-1">Close</a>
               </div>
            </form>
        </div>
        <div class="col-sm-4">
            <img src="https://cdn-icons-png.flaticon.com/512/219/219986.png" alt="" class="contact-image">
        </div>
    </div>
</div>